# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env
.github_token
.token_github

# yarn error
yarn-error.log

# The development sqlite file
database/*.sqlite

#public uploads
public/uploads/images/category
public/uploads/images/product
public/uploads/images/banner
