<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ecomerce Api, This is the Ecomerce API Project. This project uses the AdonisJs Framework.">
    <meta name="keywords" content="Ecomerce Api, Api Ecomerce, EcomerceApi">
    <meta name="author" content="Rangga Darmajati">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    {{ style('css/bootstrap.min') }}
    {{ style('css/dataTables.bootstrap.min') }}
    {{ style('css/jquery.dataTables.min') }}
    <title>
        @!section('title')
    </title>
  </head>
  <body style="background-color:#f9f9f9;">
    <div class="page-header">
           @!section('page-header')
    </div>
    <div class="container">
        @!section('content') 
    </div>
    {{ script('js/jquery.min') }}
    {{ script('js/bootstrap.min') }}
    {{ script('js/jquery.dataTables.min') }}
    {{ script('js/dataTables.bootstrap') }}
    
    @!section('script-js')
  </body>
</html>